.quote {
  width: 100%;
  height: 600px;
  position: relative;
}

.quote::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(from var(--gold) h s l / 75%)
}

.quote::before {
  content: "Quote Block";
  position: absolute;
  inset: 0;
  color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 2;
}
