.banner {
  padding: 1.5rem;
  background: var(--gray-gradient);
}

.banner.blue {
  background: var(--blue-gradient);
  color: var(--white);
}

.banner .button-wrapper {
  margin-block: 0;
}

@media (width >= 770px) {
  .banner {
    padding: 1.5rem 2rem;
  }

  .banner > div > div {
    display: grid;
    grid-template-columns: 72% 1fr;
    grid-template-rows: 1fr;
  }

  .banner .button-wrapper {
    align-self: center;
    justify-content: flex-end;
    grid-row: 1 / span 2;
    grid-column: 2;
  }
}