.faqs {
.ques{
  position: relative;
      display: block;
      text-decoration: none;
      color: #121212;
      padding: 1.25rem 2.5rem 1rem 1rem;
      }
      .ans{
      transition: all .35s ease-in-out;
          padding: 0 1rem 1.25rem;
          width: 90%;
          visibility: visible;
          }
}