.faqs > div {
  display: flex;
  flex-direction: column;
}

.faqs img {
  width: 100%;
}

.faqs > div > div {
  order: 1;
}

.faqs > div > .faqs-img-col {
  order: 0;
}

.faqs > div > .faqs-img-col img {
  display: block;
}

@media (width >= 900px) {
  .faqs > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .faqs > div > div {
    flex: 1;
    order: unset;
  }
}
