
main .link-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .link-list a {
  display: block;
  padding: 1.25rem 0;
  font-weight: 500;
  text-decoration: none;
}

main .link-list a:not(.external-link)::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  margin-left: 0.25rem;
  border: 2px solid currentcolor;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 2px;
  transition: margin-left 0.3s;
}

main .link-list a:hover::after {
  margin-left: 0.5rem;
}

main .link-list ul li + li {
  border-top: 1px solid var(--gray-4);
}

@media (width >= 700px) {
  main .link-list ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 1.5rem;
  }

  main .link-list li:nth-child(2) {
    border-top: 0;
  }
}

@media (width >= 1200px) {
  main .link-list ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 2rem;
  }

  main .link-list li:nth-child(3) {
    border-top: 0;
  }
}